<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>v-show, v-if, v-else, v-else-if</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="account">
      잔고 : <input type="text" v-model="balance" />
      <br />
      회원님의 등급 : 
      <span v-if="balance >= 1000000">Gold</span>
      <span v-else-if="balance >= 500000">Silver</span>
      <span v-else-if="balance >= 200000">Bronze</span>
      <span v-else>Basic</span>
    </div>
    <script type="text/javascript">
        var simple1 = new Vue({
          el : '#account',
          data : {
            balance : 0
          }
        })
    </script>
</body>
</html>